@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.share-column-container {
  position: sticky;
  top: 100px; /* Điều chỉnh giá trị này tùy theo header của bạn */
  height: fit-content;
  z-index: 10;
}

@media (max-width: 1023px) {
  .share-column-container {
    position: static;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
